*.lnk
*.ini
*.ini_old
*.log
GTAV_Tweaks.exe
library\build\AutoHotkey32.zip
library\build\currentVersion.txt
library\build\soundvolumeview-x64.zip
library\setup\GTAV_Tweaks_Setup.exe
.vscode/
compiler/
GTAV_Tweaks/